APScheduler==3.6.3
certifi==2019.11.28
click==7.1.2
colorhash==1.0.2
configparser==5.0.0
Flask==1.1.2
Flask-MonitoringDashboard==3.0.6
itsdangerous==1.1.0
Jinja2==2.11.2
kneed==0.5.1
MarkupSafe==1.1.1
numpy==1.19.1
psutil==5.7.2
scikit-learn==0.22.1
scipy==1.5.2
tzlocal==2.1
Werkzeug==1.0.1
wincertstore==0.2
xgboost==0.90
